// paleta de  colores 
$color1: #007bff;
$color2: #f8f9fa;
$color3: #6c757d;

.container-column1{
    height: 12em;
    transition: 0.5 linear;
    
}

.container-column1:hover{
    color: $color2;
    text-shadow: 0 0 10px $color1
}

.container-column2{
    @extend .container-column1;
}