//paleta de colores 
$color1: #007bff;
$color2: #f8f9fa;
$color3: #fff;

@import "_header";
@import "carrousel";
@import "_noticias";
@import "_footer";
@import "_editores";
@import "_contacto";

// animaciones
.card {
    transition: 0.5 linear;
}

.card:hover{
    color: $color3;
    text-shadow: 0 0 1px $color3;
}





